%table
  %tr
    %td{:align => "center"}  
      %h1 Ferrum Logic Team:)
  %tr
    %td
      %img{:src => "http://localhost:4567/photos/team.jpg", :width => "800"}
  %tr
    %td{:align => "center"}
      %h1 Thank you!!!
      
   
