-#= @photos
-#- if @photos.size > 0 then

-#- else
  %h1 No photos to be displayed!
-#%p
-#- for i in 0..@photos.size
  %img{:src=>"http://images.free-extras.com/pics/a/apples-553.jpg",:width=>"200" ,:height=>"200"}
%h1 Display all Pictures
%p
  %img{:src=>"http://images.free-extras.com/pics/a/apples-553.jpg",:width=>"200" ,:height=>"200"}

