!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 FerrumLogin presents
        %h2 Welcome to our website!!!

      #content
        =yield

      #footer
        %p
          All right reserved by our team :)
