%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="http://localhost:4567/css/styles.css")
  %body
    #wrapper
      #header
        %h1 FerrumLogin presents
        %h2 Welcome to our website!!!
        = p session['username']
         
        - if (session['username'])
          %p= "Welcome, #{session['username']}!" 
          %ul
            %li
              %a{:href => "http://ferrumlogic.lcl:4567/display"} 
                Display
            %li
              %a{:href => "http://ferrumlogic.lcl:4567/search"} 
                Search
            %li
              %a{:href => "http://ferrumlogic.lcl:4567/upload"} 
                Upload
            %li
              %a{:href => "http://ferrumlogic.lcl:4567/logout"} 
                Logout
        - else
          %p 
            Please 
            %a{:href => "http://ferrumlogic.lcl:4567/"} login
            or
            %a{:href => "http://ferrumlogic.lcl:4567/register"}
              register
            
        
      #content
        =yield

      #footer
        %p
          All right reserved by FerrumLogic :)
