%h1 Search results
- if @search_res.size == 0 then
  %p No results found
- else
  %p Search results
- 
%table{:border => 0}
  - @search_res.each do |photo|
    %tr
      %td
        = photo['title']
    %tr  
      %td
        %a{:href => "http://localhost:4567/view/#{photo["id"]}"}
          %img{:src=>"http://localhost:4567/photos/#{photo["name"]}", :width=>"200"}
    %tr  
      %td 
        = "Tags: " + photo['tags'].to_s
      
