#wrapper{
    width:66%;
    margin:auto;
}

#header{
    background-color:#ade;
}

#header>h1{
    font-size:200%;
}

h2{
    font-size:130%;
    font-family:sans-serif;
}

#content{
    margin:12px 0;
    float:left;
}

#side_bar{
    margin:12px 0;
    width :30%;
    float:right;
    clear:none;
    background-color:#ddd;
}

h1{
    font-size:150%;
}

#footer{
    clear:both;
    background-color:#ade;
    font-size:75%;
    font-family:sans-serif;
    color:#333;
    border-top:solid 1px #69a;
}

ol{
    padding-top:20px;
    background-color:#ade;
    display:block;
}

li{
    color:white;
    text-align:center;
    display:inline;
    padding:5px 10px 0 10px;
    margin-right:2px;
    background-color: #69a;
}

a{
    text-decoration:none;
}

/*---------------------DISPLAYING GALLERY ADDITIONS---------------------------------*/

.thumbnail img{
    padding: 1px;
    border: 1px solid #ffffff;
    border-color: #ffffff;
    text-align:center;
}

.thumbnail:hover{
    background-color: white;
    border: 1px solid gray;
}

.thumbnail:hover img{
border: 1px solid gray;
}

.caption{
    text-align: center;
    color: green;
}

.button{
    font-size: 12px;
}

.buttonl{
  text-align: left;
}

.buttonr{
    position: absolute;
    right: 390px;
    text-align: right;
}


